<!DOCTYPE html>
<html lang="ja">
<html>
<head>
	<meta charset="UTF-8">
	<title>激安専門ECサイト</title> 
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />


<body>

<div>
【運営者情報】<br> 激安EC.com<br>
<br>
【お問い合わせ】<br> gekiyasuouen@gmail.com 
</div>

</body>
</html>