<html>
<head>
	<title>Top page</title>
	<style>
		body{
			background:lightgrey;
			margin:20px;
			font-family:sans-serif
		}
		img{
			border:5px
		}
		div{
			text-align:center
		}
	</style>
</head>
<body>
	<div>
		<p>
			<img src="/img/sheep.jpg" alt="It's a sheep." width="200" />
		</p>
		<p>
			<a href="/products/">商品ページ</a>　|　<a href="/categories/">カテゴリ</a>
		</p>
	</div>
</body>
</html>