<!DOCTYPE html>
<html lang="ja">
<html>
<head>
    <meta charset="UTF-8">
    <title>激安専門ECサイト</title> 
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />


    <style>

    div#title{
            font-size:x-large;
            width:100%;
            float:left;
            text-align: center;
            color:red;
            background-color:white;
            top:10px;
            
        }


    body{
        margin:0;
    }
    .title{
        background-color:#eeeeee;
        border-color: black;
        top:50px;
        

    }

.kategori{
                padding-left:0;
            padding-right:0;
　　}
.kategori li{
        display:block;
            border: 1px black solid;
            border-bottom: 0;



        }
   .kategori li.last{
        
    border-bottom: 1px solid black;
     }


div.footer{
            width:95%;
            bottom:40px;
            position:absolute;
            font-size:x-small;
            float:center;
            text-align: center;
        }

        
    </style>

</head>

<body>

    <div id="title"><a href="/"><img src="/img/sitelogo.jpg" alt="激安専門ECサイト" /></a></div>

<h4 class="title">カテゴリ一覧</h4>
  <ul class="kategori">
    <li class=""><a href="/products/#shokuhins">食品＆飲料</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="/products/#seikatsuzakkas">生活雑貨</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="/products/#kadens">家電</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="">インテリア・家具・寝具</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="/products/#books">本</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="/products/#dvds">DVD</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="/products/#ladiesfashions">レディースファッション</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="/products/#mensfashions">メンズファッション</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="/products/#cosme">コスメ</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class=""><a href="/products/#pc">パソコン・周辺機器</a> <img src="/img/kateyajirushi.png" alt="" /></li>
    <li class="last"><a href="/products/#bunbougu">文房具</a> <img src="/img/kateyajirushi.png" alt="" /></li>
　</ul>

<a href="http://line.naver.jp/R/msg/text/?LINE%E3%81%A7%E9%80%81%E3%82%8B%0D%0Ahttp%3A%2F%2Fline.naver.jp%2F"><img src="/img/linebutton_86x20.png" width="[ボタン幅]" height="[ボタン高さ]" alt="LINEで送る" /></a>

<div class="footer">
            <a href="/about/">サイト情報</a>
    </div>

</body>
</html>
